POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

MLFLOW_TRACKING_URI=http://mlflow-server:5000
MODEL_NAME=production-model
EXPERIMENT_NAME=churn-prediction

RAW_DATA_PATH=data/raw/data.csv
DATA_PATH=data/processed/processed.csv
VALIDATION_PATH=reports/validation_result.json
REPORT_PATH=reports/data_drift_report.html
DRIFT_FLAG_FILE=drift_detected.flag

DRIFT_THRESHOLD=0.5
RETRAIN_IN_DOCKER=1